<h1 class="title">Quick Vacation: Only $8.50 for Travel Mate Toiletry Pouch </h1>

<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
